@*@model Bridgemiles.Core.Net.Menu.ViewModels.CustomClientPartViewModel*@

@{
    var x = Model;

               <!--begin::Client-->
            //<div class="d-flex flex-center m-3 m-md-6" data-bs-toggle="tooltip" title="@Model.link.Text">
            //    <img src="https://localhost:5001/media/@Model.logo" class="mh-30px mh-lg-40px" alt="" />
            //</div>
            <!--end::Client-->

}