@model Bridgemiles.Core.Net.Toolbar.ViewModels.ToolbarViewModel
<!--begin::Toolbar-->
<div class="flex-equal text-end ms-1">
    <a href="@Model.Url" class="btn btn-success">@Model.Text</a>
</div>
<!--end::Toolbar-->